{% extends 'templates/layout.njk' %}

{% block main %}
  <section class="{{ page }}" data-router-view="{{ page }}">
    <h1>{{ page }}</h1>
    <h1>Hello, {{ name }}!</h1>

    {% block content %}{% endblock %}
  </section>
{% endblock %}
  