- 
  var nav = [
    {
      title: 'home',
      href: '/'
    },
    {
      title: 'about us',
      href: '/templates/pages/about.pug'
    },
    {
      title: 'contact',
      href: '/templates/pages/contact.pug'
    },
    {
      title: 'all html elements',
      href: '/templates/pages/all-html-elements.pug'
    }
  ]

nav
  ul
    each item in nav
      li
        a(href=item.href)= item.title

